[submodule "tests/debug_raft/pkg/raft-rpcProtobuf-messages"]
	path = tests/debug_raft/pkg/raft-rpcProtobuf-messages
	url = https://github.com/AlessandroPirolo/raft-rpcProtobuf-messages.git
[submodule "cluster_admin"]
	path = cluster_admin
	url = https://github.com/AlessandroPirolo/cluster_admin.git
[submodule "cluster_client"]
	path = cluster_client
	url = https://github.com/AlessandroPirolo/cluster_client.git
