[Unit]
Description=raft bootstrap node

[Service]
Type=forking
ExecStart=/bin/sh /root/raft_bootstrap.sh
RemainAfterExit=no
Restart=always

[Install]
WantedBy=multi-user.target


