[Unit]
Description=raft bootstrap node

[Service]
Type=forking
ExecStart=/bin/sh /root/nmap_discover.sh
RemainAfterExit=no
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target



