[Unit]
Description=raft start setup vm

[Service]
Type=simple
ExecStart=/bin/sh /root/os_instance.sh &
ExecStop=reboot
RemainAfterExit=no
Restart=on-failure

[Install]
WantedBy=multi-user.target
