[Unit]
Description=raft bootstrap node

[Service]
Type=forking
ExecStart=/bin/sh /root/raft_project_runtime/raft_bootstrap.sh
RemainAfterExit=no
Restart=on-failure

[Install]
WantedBy=multi-user.target


